label {
  display: block;
  margin-bottom: 2vh;
}

.pfp-input {
  background-color: var(--secondary-color);
}

.gender-ident {
  margin-top: 2vh;
}

@media (max-width: 800px) {
  .pfp-input {
    max-width: 60vw;
  }
}

@media (min-width: 801px) {
  .pfp-input {
    max-width: 30vw;
  }
}

.prefs {
  background-color: var(--secondary-color);
  border-radius: 5vw;
  padding: 2vw;
  width: fit-content;
}

.gender-select {
  margin-left: 1vw;

}
