.redirects {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.explanation {
  margin-top: 10vh;
  padding-left: 15vw;
  padding-right: 15vw;
  font-weight: 400;
}
