.redirects {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-right: 5vw;
}

.home-info {
  margin-top: 5vh;
  padding: 0vh 10vw 0vh 10vw;
  text-align: center;
  margin-right: 5vw;
}

.inline-link {
  margin-left: 0.25em;
}