.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2vw;
  padding-left: 6vw;
  padding-right: 6vw;
  border-radius: 5vw;
  background-color: var(--primary-color);
}

.logo {
  aspect-ratio: 1 / 1;
  border-radius: 1.5vw;
  height: 50%;
}

@media (max-width: 800px) {
  .logo {
    height: 3.5vh;
  }

  .header {
    height: 7vh;
  }
}

@media (min-width: 801px) {
  .logo {
    height: 10vh;
  }

  .header {
    height: 20vh;
  }
}

.hamburger {
  mix-blend-mode: multiply;
}

h1 {
  color: var(--text-color);
  text-shadow: 
    3px 3px 20px var(--accent-color),
    -2px 1px 30px var(--accent-color),
    -5px 5px 40px var(--accent-color);
  font-size: 4vw;
}
