:root {
  --bg-color: #ece4f1;
  --text-color: #2b444e;
  --primary-color: rgba(240, 45, 110, 0.8);
  --secondary-color: rgba(216, 94, 88, 0.25);
  --accent-color: #48b39a;
}

h1 {
  font-size: 3rem;
  color: var(--text-color);
}

@media (max-width: 800px) {
  p, 
  label, 
  button, 
  input, 
  select {
    font-size: 1rem;
  }

  .lobby-pfp {
    width: 20vw;
    border-radius: 10vw;
  }

  .title {
    margin-bottom: 5vh;
  }
}

@media (min-width: 801px) {
  p, 
  label, 
  button, 
  input, 
  select {
    font-size: 1.5rem;
  }

  .lobby-pfp {
    width: 10vw;
    border-radius: 5vw;
  }

  .title {
    margin-bottom: 10vh;
  }
}

/* we have weights 100, 400, 600, and 700 for Montserrat */
body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Ysabeau', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

button, input, h1, h2, p, label, select {
  font-family: 'Montserrat Alternates', sans-serif;
  color: var(--text-color)
}

button, input[type=submit], input[type=file] {
  color: var(--text-color);
  border: none;
  padding: 1.75vw;
  border-radius: 1.75vw;
  background-color: rgba(72, 179, 54, 0.5);
  font-weight: 600;
  box-shadow: 0.5vw 0.5vw 0.5vw var(--text-color);
}

button:hover {
  background-color: rgba(64, 155, 48, 0.5);
}

input {
  color: var(--text-color);
  margin-left: 0.5vw;
  background-color: var(--secondary-color);
}

label {
  color: var(--text-color);
  font-weight: 600;
}

option {
  color: var(--text-color);
}

input[type=text], input[type=password], input[type=email], input[type=number] {
  border-radius: 1vw;
  border-color: var(--text-color);
  padding: 0.75vw;
}

.title {
  text-align: center;
}

.lobby-pfp {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  background-color: var(--text-color);
  overflow: hidden;
}

.link {
  display: block;
  margin-bottom: 2vh;
}
