.dropdown {
  background-color: var(--bg-color);
  padding: 3vw;
  right: 6vw;
  position: absolute;
  border-radius: 3vw;
  border: 1px solid var(--text-color);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.burger-button {
  margin-bottom: 3vh;
}
