.member-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5vh;
  margin-top: 5vh;
  border: 2px solid var(--text-color);
  border-radius: 5vw;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: var(--secondary-color);
}

@media (max-width: 800px) {
  .member-card {
    max-width: 75vw;
  }
}

@media (min-width: 801px) {
  .member-card {
    max-width: 50vw;
  }
}